body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    background:antiquewhite;
}

/* Aquí comenzaremos el header*/
h1 {
    text-transform: uppercase;
    text-align: center;
}
h1 span{
    color:rgba(248, 132, 17, 0.91);
}


#photo-header{
    text-align: center;
}
#photo img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid;
    border-color: black;
}

.container {
    max-width: 800px;
    background-color:rgb(240, 212, 174);
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

/* Las clases se ponen con punto*/

.menu ul{
    text-align: center;
    margin: auto; 
    padding: 0%;
    list-style-type: none; /*Esta propiedad sirve para quitar las viñetas de la lista*/
}

.menu ul li{
    display: inline-block;
    position: relative;
}

.menu ul li a {
    background: orange;
    color: black;
    font-size: 11px;
    text-decoration: none;
    display: block;
    padding: 2px; /*Esta propiedad sirve para engrosar, digamos, el marco interno de los elementos*/
}


/*La propiedad position, positioned in a document. The top, right, bottom, and left properties determine the final location of positioned elements.*/ 
.menu ul li ul{
    position: absolute; /* El valor absoluto, determina la distancia entre el borde superior del elemento y el borde superior del bloque que lo contiene */
    top:25px; /*participa en la especificación de la posición vertical de un elemento posicionado . No tiene efecto sobre elementos no posicionados.top*/
    left: 0;
    list-style-type: none; /* Esta propiedad retira las viñetas de las listas, cuando el valor es none.*/
    display: none; /*Esto es para elegir si queremos que se muestre en linea, en bloque, etc. Si es "none" estamos diciendo que se van a alinear tal y como están en lista */
    height: auto; /*Especifica la altura de un elemento, por defecto, la propiedad define la altura del área de contenido, sin embargo en box-sizing está configurado como border-box, determina la altura del área de borde*/

}

.menu ul li:hover ul{
    display: block;
}

.menu ul li ul li{ /*En esta sección, estamos modificando la apariencia de los bloques al desplegarse*/
    display: block; 
    width: 60px; /*Este es el ancho de la casilla o bloque de los elementos desplegables*/
    height: 20px; /*Esto es que tanta separacion hay al desplegarse*/
    margin: 0;
    text-align: left; /*Esto es para la alineación del texto del elemento desplegable*/
    font-size: 14px;
}

/* Para hacer comentarios, usar en el teclado: ctrl + K + U */
/* También funciona CTRL + K + C */
/* También funciona para comentar o descomentar CTRL + } */

/* CLEARFIX: La forma en que ésta situación se ha tratado tradicionalmente es utilizando este truco. Inserta algun contenido generado despues del cuadro que contiene el contenido flotante y envolvente, y configurarlo para limpiar antes*/

/* Fin de header */
h2 {
    color: orangered;
    text-transform: uppercase;
}

h2::before {  /* Esto sirve para añadir elementos en el título, parrafos y demás, pueden ser íconos, imágenes o símbolos*/
    content: "// ";
}

.clearfix:before {
    display: table;
    line-height: 1;
    content: "";
}

.pull-left{
    float: left;
}

.row {
    padding-left: 20px;
    padding-right: 10px;
}

/*Con esto podemos arrimar todo un texto hacia un lado*/
.col-60 {
    width: 60%;
}

.col-10{
    width: 10%;
}

.col-40{
    width: 40%;
}

.col-90{
    width: 90%;
}

/* *********** */

.education ul{
    list-style: none;
    margin:0;
    padding: 0; 
}
.education .year {
        font-size: 1.1em;
        font-weight: bold;
}
    
.education .description {
        background: #EEEEEE;
        border-bottom: 5px solid #DDDDDD;
        padding: 10px;
        margin-bottom: 10px;
        position: relative;
        box-sizing: border-box; 
}

.education .description h3, .education .description p{
        margin-top: 0;
        margin-bottom: 0;
}

.education .description p::after {
        content: "";
        position: absolute;
        border: 8px solid transparent ;
        border-right: 8px solid #EEEEEE ;
        top: 5px;
        left: -16px;
}

/* ---------- EXPERIENCIA ---------- */

.experience .job .place{
    font-size: 1.2em;
    font-weight: bold;
}

.year{
    font-size: 0.8em;
}

.profession{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3em;
    font-size: 0.9em;
    text-align: justify;
}

.description{
    margin-top: 0;
    margin-left: 3em;
    text-align: justify;
}

/* **** Skill *** */

.skills {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

        .skills-item{
            color: #ffffff;
            font-weight: borld;
            text-transform: uppercase;
            padding: 2px 0 2px 5px;
            margin-top: 5px;
            background: #F0563D;
        }
        .skills-item[data-percent="10"] { width: 10% }
		.skills-item[data-percent="20"] { width: 20% }
		.skills-item[data-percent="30"] { width: 30% }
		.skills-item[data-percent="40"] { width: 40% }
		.skills-item[data-percent="50"] { width: 50% }
		.skills-item[data-percent="60"] { width: 60% }
		.skills-item[data-percent="70"] { width: 70% }
		.skills-item[data-percent="80"] { width: 80% }
		.skills-item[data-percent="90"] { width: 90% }

    .html { 
            color: #990909;
            margin: 3px;
            list-style-type: none; 
            text-align: left; 
            width: 90%; 
            background-color: orange;}
    .css { color: #990909;
        margin: 3px;
        list-style-type: none; 
        text-align: left;
        width: 80%; 
        background-color: orange;
    }
    .js { 
        color: #990909;
        margin: 3px;
        list-style-type:none; 
        text-align: left;
        none;width: 65%; 
        background-color: orange;
    }
    .python { 
        color: #990909;
        margin: 3px;
        list-style-type: none;
        text-align: left; 
        width: 60%; 
        background-color: orange;
    }

/*  **** Fin Skills **** */

.icon-start{
    background: url(../images/star-grey.png);
        width: 110px;
        height: 13px;   
        float: left;
}


.icon-start-red{
    background: url(../images/star-red.png);
    height: 14px;
    width: 110px;
    float: left;

}

.obj-start{
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 5px;
}


.hobby {
    background: orange;
    color: #990909;
}

.footer-p{

    font-size: 1em;
}